html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color:bisque;
    margin-bottom: 60px;
}

.image-container {
    padding: 20px;
    align-items: center;
    text-align: center;
}

.image12 {
    max-width: 80%;
    height: auto;
    margin-bottom: 60px;
}

.thought {
    font-style: italic;
    color: red;
}

<style >
.gender-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.gender-option label {
    margin-right: 10px; /* Adjust the margin as needed */
}

</style >