@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@


<div class="image-container" style="background-color:burlywood;">
    <p class="thought">"Be a shark in a sea of doubt. When others swim with the tide, dare to ride your own wave."</p>
    <img src="~/images/image12.jpg" alt="Image" class="image12"/>
</div>