@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="image-container" style="background-color:burlywood;">
    <p class="thought">"Be a shark in a sea of doubt. When others swim with the tide, dare to ride your own wave."</p>
    <img src="~/images/image12.jpg" alt="Image" class="image12"/>
</div>